<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up page</title>
  <link rel="stylesheet" href="/hws/hw_back6/static/styles.css">

</head>
<body>
 <form action="/signup" method="post" enctype="multipart/form-data">
  <input name="name" placeholder="First Name"><br>
  <input name="email" type="email" placeholder="Email address"><br>
  <input name="password" type="password" placeholder="Create a Password"><br>
  <button type="submit">Sign Up</button>
</form>

</body>
</html>